@use 'src/styles/theming.scss' as t;

.footer {
  margin-top: 10px;
  padding: 10px;
  height: 50px;
  width: 100vw;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  @include t.themify {
    background-color: t.theme(main_color);
  }

  a {
    color: white;
  }
}