@use 'src/styles/media.scss' as m;

.location {
  &__vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
  }

  &__picturebox {
    text-align: center;
  }

  &__picture {
    max-width: 400px;
    height: auto;
    border-radius: 5px;
    border: 1px solid #1E5128;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  &__property {
    display: flex;
    align-items: center;
    gap: 5px;

    &::before {
      content: '';
      display: inline-block;
      width: 48px;
      height: 48px;
      background-size: 48px 48px;
    }
  }

  &__light {
    &-sun::before {
      background-image: url('/assets/light-fullsun.png');
    }

    &-partial::before {
      background-image: url('/assets/light-partial.png');
    }

    &-shade::before {
      background-image: url('/assets/light-shade.png');
    }
  }

  &__visibility {
    &-public::before {
      background-image: url('/assets/visibility-public.png');
    }

    &-private::before {
      background-image: url('/assets/visibility-private.png');
    }
  }

  &__plants {
    &-exists::before {
      background-image: url('/assets/plants-exists.png');
    }

    &-empty::before {
      background-image: url('/assets/plants-empty.png');
    }
  }

  @include m.media('mobile') {
    &__picture {
      max-width: 100%;
    }
  }
}