<div class="location" *ngIf="location; else invalidId">
  <toolbox>
    <toolbox-button image="/assets/edit.png" (click)="edit()"></toolbox-button>
    <toolbox-button image="/assets/delete.png" (click)="delete()"></toolbox-button>
  </toolbox>

  <div class="location__horizontal">
    <div class="location__picturebox">
      <img class="location__picture" [src]="location.pictures?.mid">
    </div>
    <div class="location__info">
      <div class="location__name">{{ location.name }}</div>
      <div class="location__light">(light) {{ location.light }}</div>
      <div class="location__visibility">{{ location.public ? 'public' : 'private'}}</div>
    </div>
  </div>
  <plant-list *ngIf="location.plants" [locationId]="location.id" [list]="location.plants"></plant-list>
</div>

<ng-template #invalidId>
  Location invalid or not found
</ng-template>