.form {
  &__textinput {
    width: 100%;
    text-align: center;

    input {
      font-size: 14pt;
      height: 40px;
      width: 350px;
      text-align: center;
    }
  }

  &__radio {
    display: block;
    input {
      font-size: 14pt;
      margin-bottom: 25px;
    }
  }
}