<div *ngIf="isValidId" class="plant">
  <p *ngIf="plant.specie">{{ plant.specie.name }}</p>
  <p *ngIf="plant.specie?.commonName">{{ plant.specie?.commonName }}</p>
  <p *ngIf="plant.customName">{{ plant.customName }}</p>
  <p *ngIf="plant.description">{{ plant.description }}</p>
  <p *ngIf="plant.condition">{{ plantCondition[plant.condition] }}</p>
  <p *ngIf="plant.waterFreq">{{ plant.waterFreq }}</p>
  <p *ngIf="plant.waterLast">{{ plant.waterLast | date }}</p>
  <p *ngIf="plant.fertFreq">{{ plant.fertFreq }}</p>
  <p *ngIf="plant.fertLast">{{ plant.fertLast | date }}</p>
  <p *ngIf="plant.description">{{ plant.description }}</p>
  <p *ngIf="plant.fertType">{{ plant.fertType }}</p>
  <p *ngIf="plant.potType">{{ plant.potType }}</p>
  <p *ngIf="plant.potSize">{{ plant.potSize | unit:'in' }}</p>
  <p *ngIf="plant.soil">{{ plant.soil }}</p>
  <p *ngIf="plant.public">{{ plant.public }}</p>

  <photo-list *ngIf="plant.photos" [plantId]="plant.id" [list]="plant.photos"></photo-list>
</div>
