@use 'src/styles/theming.scss' as t;

.mainnav {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 15px;

  &__left, &__right {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__left {
    flex: 1;
  }

  &__item {
    
    a {
      @include t.themify {
        color: t.theme(link_color);;
      }
      text-decoration: none;
    }
  }
}