.mainnav {
  
  &__left {
    border: 1px solid black;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__item {
    
    a {
      color: white;
      text-decoration: none;
    }
  }
}